In [1]:
import pandas as pd

In [2]:
raw = pd.read_excel("data/성분코드목록표_복합.xls", encoding="cp949", sheet_name=0)
raw.shape

(4081, 6)

In [3]:
raw.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,별지 . 약제 주성분코드 목록표(복합),Unnamed: 4,Unnamed: 5
0,NaN,NaN,NaN,성분코드,성 분 명,함 량
1,NaN,NaN,NaN,251300ACH,hyperici ext.,100mg
2,NaN,NaN,NaN,NaN,kava-kava ext.,300mg
3,NaN,NaN,NaN,251400ATB,diphenylhydantoin,100mg
4,NaN,NaN,NaN,251400ATB,phenobarbital,50mg

In [4]:
raw.tail()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,별지 . 약제 주성분코드 목록표(복합),Unnamed: 4,Unnamed: 5
4076,NaN,NaN,NaN,NaN,l-tyrosine,1.38mg
4077,NaN,NaN,NaN,NaN,l-phenylalanine,10.89mg
4078,NaN,NaN,NaN,NaN,l-proline,7.88mg
4079,NaN,NaN,NaN,NaN,lysine HCl,11.1mg
4080,NaN,NaN,NaN,NaN,soy bean oil,6.36mg

In [5]:
raw.columns

Index(['Unnamed: 0', 'Unnamed: 1', 'Unnamed: 2', '별지 .    약제 주성분코드 목록표(복합)',
       'Unnamed: 4', 'Unnamed: 5'],
      dtype='object')

In [6]:
raw = raw[['별지 .    약제 주성분코드 목록표(복합)', 'Unnamed: 4', 'Unnamed: 5']]
raw.columns = raw.iloc[0].tolist()
df = raw.drop(0)
df.head()

        성분코드                   성  분  명   함  량
1  251300ACH             hyperici ext.  100mg
2        NaN            kava-kava ext.  300mg
3  251400ATB         diphenylhydantoin  100mg
4  251400ATB             phenobarbital   50mg
5  251500ATB  diphenylhydantoin sodium   50mg

In [10]:
df["성분코드"] = df["성분코드"].fillna(method="ffill")
df["성분코드"]

1       251300ACH
2       251300ACH
3       251400ATB
4       251400ATB
5       251500ATB
          ...
4076    304900APD
4077    304900APD
4078    304900APD
4079    304900APD
4080    304900APD
Name: 성분코드, Length: 4080, dtype: object

In [11]:
df.tail()

           성분코드          성  분  명     함  량
4076  304900APD       l-tyrosine   1.38mg
4077  304900APD  l-phenylalanine  10.89mg
4078  304900APD        l-proline   7.88mg
4079  304900APD       lysine HCl   11.1mg
4080  304900APD     soy bean oil   6.36mg

In [14]:
df.shape

(4080, 3)

In [15]:
df["성분코드"].describe()

count          4080
unique          983
top       304900APD
freq             42
Name: 성분코드, dtype: object